.arrows {
    display: flex;
    .arr {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        background: #ECEFF1;
        border-radius: 87px;
        cursor: pointer;
        transition: all 0.3s ease;
        &.slick-disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
    .prev {
        margin-right: 12px;
    }
}